@font-face {
  font-family: torus;
  src: url(https://cdn.jsdelivr.net/gh/JiaLeLab/api@latest/torus.otf);
}

.unline {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #27d3f5);
  border-radius: 6px;
}

.icon--o {
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin: 0 5px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 16px;
}

.liked {
  color: #ff66aa;
}
